* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

i,
em,
address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

img {
    vertical-align: middle;
    /* 이미지 공간없애는 태그 */
    max-width: 100%;
    /* 박스사이즈 넘지마세요 태그 */

}